td.details-control {
    background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('http://i.imgur.com/d4ICC.png') no-repeat center center;
}

div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}
#activitiesTable {
    min-height: 400px;
    max-height: 800px;
}
td {
    word-wrap:break-word
}